<!-- views/services.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Services</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <section class="main-content">
    <h1>Services</h1>
    
    <!-- My services -->
    <div class="service">
      <h2>Web Development</h2>
      <p>Intermediate level Web Applications</p>
    </div>
    
    <div class="service">
      <h2>Programming</h2>
      <p>intermediate level C#, java, and python coding</p>
    </div>
    
    <div class="service">
      <h2>Data Analysis</h2>
      <p>Data Analysis with sophisticated statistical techniques and expert visualizations/graphics</p>
    </div>
    
    <!-- End of services -->
    
  </section>

  <%- include('partials/footer') %>
</body>
</html>
